In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
train = pd.read_csv("D:\Downloads\mitbih_train.csv",header=None)
test = pd.read_csv("D:\Downloads\mitbih_test.csv",header=None)
ptbdb_normal= pd.read_csv("D:\Downloads\ptbdb_normal.csv",header=None)
ptbdb_abnormal = pd.read_csv("D:\Downloads\ptbdb_abnormal.csv",header=None)
print("Dimension of train data frame:", train.shape)
print("Dimension of test data frame:", test.shape)

Dimension of train data frame: (87554, 188)
Dimension of test data frame: (21892, 188)

In [31]:
ptbdb_normal.head(5)

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,1.000000,0.900324,0.358590,0.051459,0.046596,0.126823,0.133306,0.119125,0.110616,0.113047,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.000000,0.794681,0.375387,0.116883,0.000000,0.171923,0.283859,0.293754,0.325912,0.345083,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.909029,0.791482,0.423169,0.186712,0.000000,0.007836,0.063032,0.077002,0.074957,0.077342,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.000000,0.478893,0.056760,0.064176,0.081289,0.072732,0.055619,0.048774,0.054478,0.041643,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.000000,0.867238,0.201360,0.099349,0.141336,0.120934,0.108516,0.096393,0.093436,0.100828,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
train.head(5)

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,0.977941,0.926471,0.681373,0.245098,0.154412,0.191176,0.151961,0.085784,0.058824,0.049020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.960114,0.863248,0.461538,0.196581,0.094017,0.125356,0.099715,0.088319,0.074074,0.082621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.000000,0.659459,0.186486,0.070270,0.070270,0.059459,0.056757,0.043243,0.054054,0.045946,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.925414,0.665746,0.541436,0.276243,0.196133,0.077348,0.071823,0.060773,0.066298,0.058011,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.967136,1.000000,0.830986,0.586854,0.356808,0.248826,0.145540,0.089202,0.117371,0.150235,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
train[183].value_counts()

183
0.000000    86594
0.333333        5
1.000000        4
0.283019        2
0.295455        2
            ...
0.269421        1
0.070796        1
0.325623        1
0.278986        1
0.026263        1
Name: count, Length: 920, dtype: int64

In [20]:
test.head(5)

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,1.000000,0.758264,0.111570,0.000000,0.080579,0.078512,0.066116,0.049587,0.047521,0.035124,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.908425,0.783883,0.531136,0.362637,0.366300,0.344322,0.333333,0.307692,0.296703,0.300366,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.730088,0.212389,0.000000,0.119469,0.101770,0.101770,0.110619,0.123894,0.115044,0.132743,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.000000,0.910417,0.681250,0.472917,0.229167,0.068750,0.000000,0.004167,0.014583,0.054167,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.570470,0.399329,0.238255,0.147651,0.000000,0.003356,0.040268,0.080537,0.070470,0.090604,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
def check_missing_values(df):
    print("\n--- Checking for Missing Values ---")
    missing_summary = df.isnull().sum()
    print("\nMissing values per column:")
    print(missing_summary)
    total_missing = missing_summary.sum()
    print(f"\nTotal missing values in the dataset: {total_missing}")

def check_duplicates(df):
    print("\n--- Checking for Duplicated Rows ---")
    duplicate_rows = df[df.duplicated()]
    print(f"Number of duplicate rows: {len(duplicate_rows)}")
    if len(duplicate_rows) > 0:
        print("\nDuplicated rows:")
        print(duplicate_rows)

if train is not None:
        check_missing_values(train)
        check_duplicates(train)

--- Checking for Missing Values ---

Missing values per column:
0      0
1      0
2      0
3      0
4      0
      ..
183    0
184    0
185    0
186    0
187    0
Length: 188, dtype: int64

Total missing values in the dataset: 0

--- Checking for Duplicated Rows ---
Number of duplicate rows: 0

In [33]:
# Lấy cột nhãn (cột cuối cùng) cho MIT-BIH
labels_train = train.iloc[:, -1]  # Cột cuối cùng
labels_test = test.iloc[:, -1]

# Phân phối nhãn trong MIT-BIH Train
print("\nPhân phối nhãn trong MIT-BIH Train:")
print(labels_train.value_counts())

# Phân phối nhãn trong MIT-BIH Test
print("\nPhân phối nhãn trong MIT-BIH Test:")
print(labels_test.value_counts())

# Đối với PTB (giả sử nhãn là cột cuối cùng, nếu không, bạn cần kiểm tra lại)
labels_ptb_normal = ptbdb_normal.iloc[:, -1] if ptbdb_normal.shape[1] > 1 else pd.Series(0)  # Giả sử nhãn 0
labels_ptb_abnormal = ptbdb_abnormal.iloc[:, -1] if ptbdb_abnormal.shape[1] > 1 else pd.Series(1)  # Giả sử nhãn 1

print("\nPhân phối nhãn trong PTB Normal:")
print(labels_ptb_normal.value_counts())
print("\nPhân phối nhãn trong PTB Abnormal:")
print(labels_ptb_abnormal.value_counts())

Phân phối nhãn trong MIT-BIH Train:
187
0.0    72471
4.0     6431
2.0     5788
1.0     2223
3.0      641
Name: count, dtype: int64

Phân phối nhãn trong MIT-BIH Test:
187
0.0    18118
4.0     1608
2.0     1448
1.0      556
3.0      162
Name: count, dtype: int64

Phân phối nhãn trong PTB Normal:
187
0.0    4046
Name: count, dtype: int64

Phân phối nhãn trong PTB Abnormal:
187
1.0    10506
Name: count, dtype: int64